:root{
    --Dark_Slate_Grey: hsl(234, 29%, 20%);
    --Charcoal_Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --Tomato: hsl(4, 100%, 67%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: rgb(13, 13, 34);
    
}

.container{
    width: 800px;
    background-color: white;
    display: flex;
    padding: 1rem;
    height: 500px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 2rem auto;
}
.container_section{
    height: 100%;
    width: 50%;
}
.left{
    margin: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    font-size: 2.7rem;
}
p{
    font-size: 0.9rem;
    margin: 10px 0;
}

ul{
    list-style-type: none;
    
}

li{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    margin: 5px 0;
}
li img{
    margin-right: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}
label{
    font-weight: bold;
    font-size: 0.8rem;
}

.input{
 padding: 0.8rem 0;
 border-radius: 7px;
 margin: 5px 0;
 
}
.email{
    border: 1px solid rgba(197, 197, 197, 0.836);
    padding-left: 1rem;
}
.btn{
    cursor: pointer;
    margin: 1rem 0;
    background-color:var(--Dark_Slate_Grey);
    color: var(--White);
    font-weight: bold;
    border: 1px solid var(--Dark_Slate_Grey);
}
.btn:hover{
   background-color: var(--Tomato);
   border: 1px solid var(--Tomato); 
}

picture img{
    width: 100%;
    height: 100%;
}

@media(max-width:734px){
    .container{
        width: 100%;
        flex-direction: column-reverse;
        height:700px;
    }
    .container_section{
        margin: 2rem 0;
        width: 100%;
        height: 50%;
    }
    picture img{
        width: 100%;
        height:100% ;
        padding-top: 2rem;
    }

}

.hidden{
display: none;
}

.container_succes{
    max-width: 350px;
    max-height: 300px;
    background-color: var(--White);
    border-radius: 25px;
    padding: 25px 30px;
    margin-bottom: 10px;
    
}

.container_succes img{
    width: 40px;
    margin-bottom: 10px;
}
#email_sucess{
    font-weight: bold;
    color: var(--Dark_Slate_Grey);
}

.sucess{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
}